@model DateNiteBackEndCapstone.Models.BusinessViewModels.SearchBusinessViewModel

@{
    ViewData["Title"] = "Search";
}

<p class="search-title">Search For Eateries</p>

<div class="search-form">
    <div>
        <form asp-controller="Businesses" asp-action="Index">
            <input class="form-control mr-sm-2 search-form-space" type="text" placeholder="Search City" name="city" required>
            <select class="form-control search-form-space" asp-items="@Model.ListOfStateOptions" name="state" required>
            </select>
            <input class="form-control mr-sm-2 search-form-space" type="text" placeholder="Enter Budget" name="budget" required>
            <input type="submit" value="Search" class="btn btn-primary search-form-space" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}